a {
	text-decoration: none;
	color: inherit;
}
header {
	height: 15vh;
	width: 100vw;
	padding: 12px 60px;
	background-color: #e1e2dd;
	// ! display
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	.list-container {
		width: 70%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 60px;
			li {
				position: relative;
				overflow: hidden;
				cursor: pointer;
				&::after {
					background-color: #111333;
					content: '';
					position: absolute;
					height: 1px;
					width: 100%;
					left: -100%;
					bottom: 0;
					transition: all 500ms;
				}
				&:hover {
					&::after {
						left: 0;
					}
				}
			}
		}
	}
	.buttons {
		gap: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			border-radius: 25% / 50%;
		}
		button {
			cursor: pointer;
			background-color: aliceblue;
			text-align: center;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
			border: none;
			border-radius: 25% / 50%;
			padding: 10px 20px;

			transition: all 250ms;
			&:hover {
				box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
				background-color: #111333;
				color: white;
				animation: bounce 1s infinite ease;
			}
		}
	}
	.logo-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		.logo {
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-image: url('https://images.unsplash.com/photo-1703533136832-2e91ef1a746f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8');
			background-size: 120%;
			background-position: center;
		}
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
}
